<!DOCTYPE html>
<html>
<head>
  <title>Visual Tracking in Cricket</title>
  <link href="../static/css/styleme.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/master.css">      
    <link rel="stylesheet" href="../static/css/cool-navbars.css">
    
</head>
<body>
  <nav id="main-nav">
        <ul class="menu">
            <li class="logo"><a href="#">Visual Tracking in Cricket</a></li>
            <li>PLAYER ANALYSIS</li>
        </ul>
    <ul class="menu">
            <li class="item button secondary"><a href="/left">Calibration</a></li>
            <li class="item button secondary"><a href="/annotation">Annotation</a></li>
            <li class="item button secondary"><a href="/teamdetails">Form</a></li>
            </li>
            
        </ul>
    </nav>
        
    

</body>
</html>