<!DOCTYPE html>
<html>
<head>
  <title>Visual Tracking in Cricket</title>
  <link href="../static/css/styleme.css" rel="stylesheet">
    <!-- <link href="../static/css/style.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="../static/css/master.css">      
    <link rel="stylesheet" href="../static/css/cool-navbars.css">
   <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    
</head>
<body>
  <nav id="main-nav">
        <ul class="menu">
            <li class="logo"><a href="#">Visual Tracking in Cricket</a></li>
      	<li>PLAYER ANALYSIS</li>
    	</ul>
    <ul class="menu">
            <li class="item button secondary"><a href="/left">Calibration</a></li>
            <li class="item button secondary"><a href="/annotation">Annotation</a></li>
            <li class="item button secondary"><a href="/teamdetails">Form</a></li>
    </ul>
    </nav	>
	<!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-4 mx-auto">
            
		   <form method="post" action="/teamdetails1" enctype="multipart/form-data">
		   	<h3>ENTER TEAM-1 </h3><br>

		  <div class="form-group">
			    	<label >Player-1</label>
			    	<input type="text" class="form-control" name="fn0"  placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln0" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn0" placeholder="Jersey-No" required>
			    	<input type="file" name="im0" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-2</label>
			    	<input type="text" class="form-control" name="fn1" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln1" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn1" placeholder="Jersey-No" required>
			    	<input type="file" name="im1" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-3</label>
			    	<input type="text" class="form-control" name="fn2" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln2" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn2" placeholder="Jersey-No" required>
			    	<input type="file" name="im2" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-4</label>
			    	<input type="text" class="form-control" name="fn3" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln3" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn3" placeholder="Jersey-No" required>
			    	<input type="file" name="im3" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-5</label>
			    	<input type="text" class="form-control" name="fn4" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln4" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn4" placeholder="Jersey-No" required>
			    	<input type="file" name="im4" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-6</label>
			    	<input type="text" class="form-control" name="fn5" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln5" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn5" placeholder="Jersey-No" required>
			    	<input type="file" name="im5" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-7</label>
			    	<input type="text" class="form-control" name="fn6" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln6" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn6" placeholder="Jersey-No" required>
			    	<input type="file" name="im6" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-8</label>
			    	<input type="text" class="form-control" name="fn7" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln7" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn7" placeholder="Jersey-No" required>
			    	<input type="file" name="im7" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-9</label>
			    	<input type="text" class="form-control" name="fn8" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln8" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn8" placeholder="Jersey-No" required>
			    	<input type="file" name="im8" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-10</label>
			    	<input type="text" class="form-control" name="fn9" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln9" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn9" placeholder="Jersey-No" required>
			    	<input type="file" name="im9" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-11</label>
			    	<input type="text" class="form-control" name="fn10" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln10" placeholder="Last Name"  required>
			    	<input type="number" class="form-control" name="jn10" placeholder="Jersey-No" required>
			    	<input type="file" name="im10" required>
		  </div>
		  <br> <br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>

		<form method="post" action="/teamdetails" enctype="multipart/form-data">
		   <h3>ENTER TEAM-1 Subs </h3><br>
		  <div class="form-group">
			    	<label >Player-1</label>
			    	<input type="text" class="form-control" name="fn0" placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln0"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn0"placeholder="Jersey-No" required>
			    	<input type="file" name="im0" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-2</label>
			    	<input type="text" class="form-control"  name="fn1"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln1"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn1"placeholder="Jersey-No" required>
			    	<input type="file" name="im1" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-3</label>
			    	<input type="text" class="form-control"  name="fn2"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln2"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn2"placeholder="Jersey-No" required>
			    	<input type="file" name="im2" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-4</label>
			    	<input type="text" class="form-control"  name="fn3"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln3"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn3"placeholder="Jersey-No" required>
			    	<input type="file" name="im3" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-5</label>
			    	<input type="text" class="form-control"  name="fn4"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln4"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn4"placeholder="Jersey-No" required>
			    	<input type="file" name="im4" required>
		  </div>
		  <br><br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		
		</form>

        </div>
        <div class="col-md-4 mx-auto">
            <form method="post" action="/teamdetails1" enctype="multipart/form-data">
		   <h3>ENTER TEAM-2 </h3><br>
		  <div class="form-group">
			    	<label >Player-1</label>
			    	<input type="text" class="form-control"  name="fn0"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln0"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn0"placeholder="Jersey-No" required>
			    	<input type="file" name="im0" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-2</label>
			    	<input type="text" class="form-control"  name="fn1"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln1"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn1"placeholder="Jersey-No" required>
			    	<input type="file" name="im1" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-3</label>
			    	<input type="text" class="form-control"  name="fn2"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln2"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn2"placeholder="Jersey-No" required>
			    	<input type="file" name="im2" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-4</label>
			    	<input type="text" class="form-control"  name="fn3"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln3"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn3"placeholder="Jersey-No" required>
			    	<input type="file" name="im3" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-5</label>
			    	<input type="text" class="form-control"  name="fn4"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln4"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn4"placeholder="Jersey-No" required>
			    	<input type="file" name="im4" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-6</label>
			    	<input type="text" class="form-control"  name="fn5"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln5"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn5"placeholder="Jersey-No" required>
			    	<input type="file" name="im5" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-7</label>
			    	<input type="text" class="form-control"  name="fn6"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln6"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn6"placeholder="Jersey-No" required>
			    	<input type="file" name="im6" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-8</label>
			    	<input type="text" class="form-control"  name="fn7"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln7"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn7" placeholder="Jersey-No" required>
			    	<input type="file" name="im7" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-9</label>
			    	<input type="text" class="form-control"  name="fn8"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln8"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn8"placeholder="Jersey-No" required>
			    	<input type="file" name="im8" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-10</label>
			    	<input type="text" class="form-control"  name="fn9"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln9"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn9"placeholder="Jersey-No" required>
			    	<input type="file" name="im9" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-11</label>
			    	<input type="text" class="form-control"  name="fn10"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln10"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn10"placeholder="Jersey-No" required>
			    	<input type="file" name="im10" required>
		  </div>
		 <br><br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
		<form method="post" action="/teamdetails" enctype="multipart/form-data">

		   <h3>ENTER TEAM-2 Subs </h3><br>
		  <div class="form-group">
			    	<label >Player-1</label>
			    	<input type="text" class="form-control"  name="fn0"placeholder="First Name" >
			    	<input type="text" class="form-control" name="ln0"placeholder="Last Name" >
			    	<input type="number" class="form-control" name="jn0"placeholder="Jersey-No" >
			    	<input type="file" name="im0" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-2</label>
			    	<input type="text" class="form-control"  name="fn1"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln1"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn1"placeholder="Jersey-No" required>
			    	<input type="file" name="im1" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-3</label>
			    	<input type="text" class="form-control"  name="fn2"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln2"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn2"placeholder="Jersey-No" required>
			    	<input type="file" name="im2" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-4</label>
			    	<input type="text" class="form-control"  name="fn3"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln3"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn3"placeholder="Jersey-No" required>
			    	<input type="file" name="im3" required>
		  </div>
		  <div class="form-group">
			    	<label >Player-5</label>
			    	<input type="text" class="form-control"  name="fn4"placeholder="First Name" required>
			    	<input type="text" class="form-control" name="ln4"placeholder="Last Name" required>
			    	<input type="number" class="form-control" name="jn4"placeholder="Jersey-No" required>
			    	<input type="file" name="im4" required>
		  </div>
		  <br><br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		
		</form>
        </div>
    </div>
</div>

</body>
</html>

